<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Contexto" data-toc-modified-id="Contexto-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Contexto</a></span></li><li><span><a href="#Leer-datos" data-toc-modified-id="Leer-datos-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Leer datos</a></span><ul class="toc-item"><li><span><a href="#Unir-todos-los-datasets" data-toc-modified-id="Unir-todos-los-datasets-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Unir todos los datasets</a></span></li></ul></li><li><span><a href="#Carga-en-Mongo" data-toc-modified-id="Carga-en-Mongo-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Carga en Mongo</a></span><ul class="toc-item"><li><span><a href="#Geoquery" data-toc-modified-id="Geoquery-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Geoquery</a></span></li></ul></li><li><span><a href="#Análisis-exploratorio-de-nuestros-datos:" data-toc-modified-id="Análisis-exploratorio-de-nuestros-datos:-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Análisis exploratorio de nuestros datos:</a></span></li><li><span><a href="#Transformación" data-toc-modified-id="Transformación-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Transformación</a></span><ul class="toc-item"><li><span><a href="#Columna-shopping-cart" data-toc-modified-id="Columna-shopping-cart-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Columna <code>shopping cart</code></a></span></li><li><span><a href="#Columna-de-latest_customer_review" data-toc-modified-id="Columna-de-latest_customer_review-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Columna de latest_customer_review</a></span></li><li><span><a href="#Columna-latest_customer_review" data-toc-modified-id="Columna-latest_customer_review-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Columna <code>latest_customer_review</code></a></span></li><li><span><a href="#Columna-season" data-toc-modified-id="Columna-season-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Columna <code>season</code></a></span></li><li><span><a href="#Columna-nearest_warehouse" data-toc-modified-id="Columna-nearest_warehouse-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>Columna <code>nearest_warehouse</code></a></span></li></ul></li><li><span><a href="#Visualizacion" data-toc-modified-id="Visualizacion-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Visualizacion</a></span><ul class="toc-item"><li><span><a href="#Boxplot" data-toc-modified-id="Boxplot-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Boxplot</a></span></li><li><span><a href="#Scatterplot" data-toc-modified-id="Scatterplot-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Scatterplot</a></span></li><li><span><a href="#Barplot" data-toc-modified-id="Barplot-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Barplot</a></span></li><li><span><a href="#Mapas-con-folium" data-toc-modified-id="Mapas-con-folium-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>Mapas con folium</a></span></li></ul></li></ul></div>

In [1]:
import pymongo
import numpy as np
import pandas as pd

# Contexto
Este dataset contiene información sobre una tienda electrónica en línea. La tienda tiene tres almacenes desde los que se entregan los productos a los clientes.

Columnas: 

- `order_id`: identificador único para cada pedido


- `customer_id`: id único para cada cliente


- `date`: La fecha en que se realizó el pedido, en formato AAAA-MM-DD



- `nearest_warehouse`: el nombre del almacén más cercano al cliente



- `shopping_cart`: lista de tuplas que representan los artículos del pedido: el primer elemento de el primer elemento de la tupla es el artículo pedido, y el segundo elemento es la cantidad pedida para dicho artículo.



- `order_price`: precio del pedido en USD. El precio del pedido es el precio de los artículos antes de que se apliquen descuentos. 


- `delivery_charges`: los gastos de envío del pedido


- `customer_lat`: latitud de la ubicación del cliente


- `customer_long`: longitud de la ubicación del cliente


- `coupon_discount`: el porcentaje de descuento que se aplicará al el precio del pedido.


- `order_total`: total del pedido en USD después de aplicar todos los descuentos y/o gastos de envío.


- `season`: la época en la que se realizó el pedido.


- `is_expedited_delivery`: indica si el cliente ha solicitado una entrega rápida


- `distance_to_nestest_warehouse`: la distancia en kilómetros, entre el cliente y el almacén más cercano a él.


- `latest_customer_review`: la última opinión del cliente sobre su pedido más reciente


- `is_happy_customer`: indica si el cliente es un cliente feliz o tuvo un problema con su último pedido.

# Leer datos

In [2]:
df1 = pd.read_csv("../data/report_1.csv", index_col = 0)
df2 = pd.read_csv("../data/report_2.csv", index_col = 0)
df3 = pd.read_csv("../data/report_3.csv", index_col = 0)

In [3]:
df1.head(2)

,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer
0,ORD182494,ID6197211592,2019-06-22,Thompson,"[('Lucent 330S', 1), ('Thunder line', 2), ('iS...",12200,79.89,-37.815105,144.932843,10,11059.89,Winter,True,1.2800,perfect phone and trusted seller. phone itself...,True
1,ORD395518,ID0282825849,2019-12-29,Thompson,"[('Thunder line', 1), ('Universe Note', 2)]",9080,62.71,-37.802736,144.951118,0,9142.71,Summer,False,1.1621,it keeps dropping calls the wifi don't work th...,False

In [4]:
df2.head(2)

,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer
338,ORD108392,ID2069604238,2019-09-21,nickolson,"[('Olivia x460', 1), ('Lucent 330S', 2), ('iAs...",5910,108.54,-37.802492,144.980952,5,5723.04,Spring,True,1.5083,four stars big fan,True
339,ORD127881,ID2776664746,2019-09-23,Thompson,"[('Candle Inferno', 1), ('Toshika 750', 1), ('...",7360,107.35,-37.826394,145.019418,25,5627.35,Spring,True,1.5854,good phone very good condition.,True

In [5]:
df3.head(2)

,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer
165,ORD153030,ID0310729984,2019-05-02,Thompson,"[('Olivia x460', 2), ('pearTV', 1), ('Universe...",15660,78.02,-37.812726,144.940215,10,14172.02,Autumn,True,0.6028,strong great phone.takes lots of abuse and kee...,True
166,ORD234851,ID0547586405,2019-06-25,Bakers,"[('Lucent 330S', 2), ('pearTV', 1)]",8770,65.06,-37.813517,144.985586,15,7519.56,Winter,False,0.9345,great product live it,True

## Unir todos los datasets

In [6]:
df = pd.concat([df1,df2,df3], axis = 0)

In [7]:
df.head(2)

,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer
0,ORD182494,ID6197211592,2019-06-22,Thompson,"[('Lucent 330S', 1), ('Thunder line', 2), ('iS...",12200,79.89,-37.815105,144.932843,10,11059.89,Winter,True,1.2800,perfect phone and trusted seller. phone itself...,True
1,ORD395518,ID0282825849,2019-12-29,Thompson,"[('Thunder line', 1), ('Universe Note', 2)]",9080,62.71,-37.802736,144.951118,0,9142.71,Summer,False,1.1621,it keeps dropping calls the wifi don't work th...,False

In [8]:
df.shape

(658, 16)

In [22]:
df.dtypes

order_id                          object
customer_id                       object
date                              object
nearest_warehouse                 object
shopping_cart                     object
order_price                        int64
delivery_charges                 float64
customer_lat                     float64
customer_long                    float64
coupon_discount                    int64
order_total                      float64
season                            object
is_expedited_delivery               bool
distance_to_nearest_warehouse    float64
latest_customer_review            object
is_happy_customer                   bool
geometria                         object
dtype: object

# Carga en Mongo

In [9]:
# creamos la función para convertir nuestras coordenadas a geopuntos para poder hacer geoqueries


def crear_geometria(lon,lat):
    '''
    Función que convierte nuestras coordenadas de lat y long en un geopunto
    Args:
        lon: float con la longitud de cada uno de los clientes
        lat: floar con la latitud de cada uno de los clientes
    Returns: 
        Un diccionario con nuestras coordenadas convertidas a geopuntos
    '''
    return {"type": "Point", "coordinates":[ lon, lat]}

In [10]:
#aplicamos nuestra función

df["geometria"] = df.apply(lambda datos: crear_geometria(
                                    datos["customer_long"],
                                    datos["customer_lat"]), axis = 1)

In [11]:
df.head(2)

,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer,geometria
0,ORD182494,ID6197211592,2019-06-22,Thompson,"[('Lucent 330S', 1), ('Thunder line', 2), ('iS...",12200,79.89,-37.815105,144.932843,10,11059.89,Winter,True,1.2800,perfect phone and trusted seller. phone itself...,True,"{'type': 'Point', 'coordinates': [144.9328434,..."
1,ORD395518,ID0282825849,2019-12-29,Thompson,"[('Thunder line', 1), ('Universe Note', 2)]",9080,62.71,-37.802736,144.951118,0,9142.71,Summer,False,1.1621,it keeps dropping calls the wifi don't work th...,False,"{'type': 'Point', 'coordinates': [144.9511178,..."

In [12]:
# creamos la conexión con Mongo Compass
client = pymongo.MongoClient()

In [13]:
# creamos bbdd
db = client.electronic

In [14]:
# creamos coleccion

coleccion = db.sales

In [15]:
# insertamos nuestro dataset en Mongo

coleccion.insert_many(df.to_dict("records"))

In [23]:
# haremos geoqueriesm por lo que necesitamos crear el índice

coleccion.create_index([('geometria', '2dsphere')])

'geometria_2dsphere'

## Geoquery

In [17]:
# definimos el punto de referencia y la distancia máxima que queremos. 

geopoint = {'type': 'Point', 'coordinates':[144.96787921592158, -37.82385677492879]}
metros = 2000

In [18]:
# hacemos la geoquery

busqueda = coleccion.find({'geometria':{
        '$near': {'$geometry': geopoint, '$maxDistance':metros}
    }})
busqueda

In [19]:
# almacenamos los resultados en un dataframe

resultado_near = pd.DataFrame(busqueda)

In [20]:
resultado_near.head()

,_id,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer,geometria
0,6207771e6828d639036be697,ORD037011,ID0847526574,2019-11-11,Nickolson,"[('iStream', 2), ('Olivia x460', 1), ('Toshika...",18465,102.31,-37.823506,144.967576,0,18567.31,Spring,True,0.5736,better than alcon never buy and overpriced alc...,True,"{'type': 'Point', 'coordinates': [144.9675756,..."
1,6207771e6828d639036be52f,ORD371930,ID6231506306,2019-06-29,Nickolson,"[('Alcon 10', 2), ('Toshika 750', 2)]",26540,76.53,-37.824801,144.969024,0,26616.53,Winter,True,0.6924,ok ok,True,"{'type': 'Point', 'coordinates': [144.9690242,..."
2,6207771e6828d639036be54d,ORD228614,ID0298045612,2019-10-10,Nickolson,"[('Alcon 10', 2), ('Lucent 330S', 1), ('iAssis...",25760,99.42,-37.822861,144.966571,0,25859.42,Spring,True,0.5423,good great product,True,"{'type': 'Point', 'coordinates': [144.9665714,..."
3,6207771e6828d639036be696,ORD366469,ID0846567658,2019-01-28,Nickolson,"[('Universe Note', 1), ('Lucent 330S', 2)]",5910,74.50,-37.823377,144.969933,15,5098.00,Summer,True,0.5334,i've bought 3 only the first one works messagi...,False,"{'type': 'Point', 'coordinates': [144.969933, ..."
4,6207771e6828d639036be642,ORD246022,ID0662736521,2019-12-19,Nickolson,"[('Universe Note', 1), ('Lucent 330S', 1), ('A...",13630,70.38,-37.824599,144.969813,0,13700.38,Summer,False,0.6687,excellent phone with the best os it is the bes...,True,"{'type': 'Point', 'coordinates': [144.9698135,..."

In [21]:
resultado_near.to_csv('../data/resultado_query.csv')